<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SOCKET IO</title>
    <!-- *************************************************** -->
    <link rel="stylesheet" href="/css/room.css">
    <!-- *************************************************** -->
    <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script type="text/javascript" src="/js/room.js" defer></script>
    <!-- *************************************************** -->
    <script>
        const ROOM_ID = "<%= roomID %>";
    </script>
    <!-- *************************************************** -->
</head>

<body>
    <div class="container" id="video-grid"></div>
</body>

</html>